$back-prim: #34648e;
$back-sec: #57396f;
$purple: #57396f;
// #2d8592

@mixin flexCollumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
